/* line 2, ../scss/main.scss */
body {
  background: #F5F5F5;
  margin: 0px 0px;
}

/* line 7, ../scss/main.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  display: block;
}

/* line 11, ../scss/main.scss */
a {
  text-decoration: none;
}

/* line 14, ../scss/main.scss */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/background1.jpg");
  background-size: cover;
  position: relative;
  height: 100vh;
  	/*&:after {
  		content:'\A';
  		position:absolute;
      	color: #fff;
  		width:100%; height:100%;
  		top:0; left:0;
  		background:rgba(0,0,0,0.6);
  		opacity:1;
  	}*/
}
/* line 33, ../scss/main.scss */
header nav {
  position: fixed;
  width: 100%;
  background: transparent;
  /*border-bottom: 1px solid $white-smoke;*/
  /*padding-top: 30px;
  padding-bottom: 30px;*/
  display: flex;
  align-items: center;
}
/* line 42, ../scss/main.scss */
header nav .brand-logo {
  float: left;
  margin: 20px;
}
/* line 45, ../scss/main.scss */
header nav .brand-logo img {
  height: 64px;
  width: 64px;
}
/* line 50, ../scss/main.scss */
header nav ul {
  display: inline-block;
  margin-left: auto;
  margin-right: 50px;
}
/* line 54, ../scss/main.scss */
header nav ul li {
  display: inline-block;
  padding: 5px;
}
/* line 58, ../scss/main.scss */
header nav ul a {
  color: #FFFFFF;
}
/* line 61, ../scss/main.scss */
header nav ul a:hover {
  text-decoration: underline;
  color: #008080;
}
/* line 67, ../scss/main.scss */
header .header-content {
  position: absolute;
  text-align: center;
  color: #FFFFFF;
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}
/* line 76, ../scss/main.scss */
header .header-content .subtitle {
  font-size: 25px;
  text-align: justify;
}

/* line 83, ../scss/main.scss */
article {
  /*padding:100px 50px;*/
  padding: 30px 50px;
  text-align: center;
  width: 80%;
  margin: 0px auto;
  /*background: $sandy-brown;*/
}
/* line 90, ../scss/main.scss */
article section {
  /*background: $sandy-brown;*/
}
/* line 92, ../scss/main.scss */
article section .section-title {
  font-size: 30px;
  text-transform: uppercase;
}
/* line 96, ../scss/main.scss */
article section .section-content {
  text-align: justify;
  margin-top: 20px;
}
/* line 100, ../scss/main.scss */
article section .section-footer {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 104, ../scss/main.scss */
article section .section-footer a {
  color: #000000;
  margin-right: 25px;
}
/* line 108, ../scss/main.scss */
article section .section-footer a:hover {
  color: #008080;
  text-decoration: underline;
}

/* line 115, ../scss/main.scss */
footer {
  /*position: fixed;
  width: 100%;
  bottom: 0px;*/
  background: #008080;
  color: #FFFFFF;
  padding: 30px 0px;
}

/*.img-container {
	width: 50%;
	position: relative;
	display: block;
	border: 2px solid gray;
	& .img-title {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	& .img-body {
		text-align: center;
		background-color: $white;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	& .img-footer {
		border-top: 1px solid black;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
		float: right;
		& a {
			color: $black;
		}
	}
}*/
/* line 153, ../scss/main.scss */
.img-container {
  border: 2px solid gray;
  max-width: 400px;
  max-height: 500px;
  display: inline-block;
  margin: 5px;
}
/* line 159, ../scss/main.scss */
.img-container .img-header {
  max-height: 213px;
  overflow: hidden;
}
/* line 163, ../scss/main.scss */
.img-container .img-body {
  padding: 0 26px 50px 26px;
  background-color: #FFFFFF;
}
/* line 166, ../scss/main.scss */
.img-container .img-body .img-body-title {
  left: 0;
  padding: 26px;
  text-transform: uppercase;
  font-size: 20px;
}
/* line 172, ../scss/main.scss */
.img-container .img-body .img-body-description {
  padding: 5px;
  text-align: justify;
  border-bottom: 1px solid #757B82;
}
/* line 177, ../scss/main.scss */
.img-container .img-body .img-body-footer {
  position: relative;
  margin-top: 14px;
  font-size: 14px;
  float: right;
}
